[submodule "service-registry"]
	path = service-registry
	url = https://github.com/thathshila/ECP-service-registry.git
[submodule "config-server"]
	path = config-server
	url = https://github.com/thathshila/ECP-config-server.git
[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/thathshila/ECP-api-gateway.git
